//colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$purple: #8357c5;
$blue: #3c4251;
$light_blue: #464b5e;
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//weights
$s-weight: 300;
$r-weight: 500;
//border
$s-border: 1px;
$r-border: .3rem;
$m-border: .6rem;